.contenedor-flex {
    width: auto;
    /* height: 50vh; */
    padding: 0 1ch;
    background-color: lightblue;

    display: flex;
    display: inline-flex;
    gap: 1ch;
}
.item-flex {
    padding: 1ch;
    background-color: lightcoral;
}