.table {
    text-align: center;
    border-collapse: separate;
    border-collapse: separate;
    border-collapse: collapse;
    empty-cells: hide;
}

.table,
th,
td {
    border: 2px solid;
    border-spacing: 0px;
}