* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.header {
    padding: 0 1rem 1rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #74B6DC;

    position: sticky;
    top: 0;
}
.header .title {
    color: #000;
}
.list {
    display: flex;
}
.list li {
    list-style-type: none;
    margin-left: 0.5rem;
}
li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
}
li a:hover {
    text-decoration: underline;
}

.hero {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-title {
    max-width: 600px;
    min-width: 340px;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px black;
}
.hero-title h1 {
    margin-bottom: 2rem;
}
.teacher {
    text-transform: uppercase;
    font-size: 4rem;
}
.seccion {
    text-align: center;
    padding: 5rem;
    height: 100vh;
}
.seccion .title {
    text-transform: uppercase;
    font-size: 3rem;
    position: sticky;
    top: 6rem;
    color: #000;
    text-shadow: 0.1rem 0.1rem 5px rgba(255, 255, 255, 0.5), -0.1rem -0.1rem 5px rgba(255, 255, 255, 0.5);
}
.conteiner {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.conteiner article {
    height: 30%;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*modal*/
.contactar {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2rem;
    border: 0.1rem solid #fff;
    border-radius: 1.5rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.contactar:hover {
    background-color: #fff;
    color: #000;
}
.conteiner-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.form {
    width: 50%;
    min-width: 350px;
    height: 50%;
    min-height: 600px;
    border-radius: 1.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
label {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label input,
label textarea {
    width: 100%;
    border-radius: 1.5rem;
}
label input {
    height: 5rem;
    padding-left: 2rem;
}
label textarea {
    padding: 1rem 2rem;
    resize: none;
}
.buttom-form {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 1px solid;
    border-radius: 1.5rem;
}
.buttom-form:hover {
    background-color: #000;
    color: #fff;
}

.buttom-close {
    background-color: #000;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    color: #fff;
}

.conteiner-form:target {
    display: flex;
}

/*background*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://upload.wikimedia.org/wikipedia/commons/3/38/The_Woodlands_College_Park_Front_Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.nosotros {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/3182747/pexels-photo-3182747.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.servicios {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/1181677/pexels-photo-1181677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.contacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/5835337/pexels-photo-5835337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.cursos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/4443160/pexels-photo-4443160.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.capacitacion {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/3769021/pexels-photo-3769021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


@media screen and (max-width: 920px) {
    .header {
        flex-direction: column;
    }
}

@media screen and (max-width: 590px) {
    .header .nav {
        display: none;
    }
}