body {
    font-family: monospace;
}
form {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: lightcoral;
    border-radius: 15px;
}
label {
    display: flex;
    flex-direction: column;
}
label span {
    font-size: 18px;
}
input {
    margin-top: 5px;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    height: 20px;
    padding-left: 5px;
    background-color: inherit;
}
textarea {
    resize: none;
}
textarea {
    background-color: lightcyan;
}
input[type="submit"] {
    background-color: lightblue;
    border-radius: 15px;
    height: 40px;
}
input[type="submit"]:hover {
    box-shadow: 0 0px 10px;
    cursor: pointer;
}
::placeholder {
    color: #000;
    font-weight: bold;
}

input:invalid {
    border-bottom: 3px red solid;
}
input:invalid {
    border-color: #fff;
}